[submodule "Lib-AdvancedTween"]
	path = libs/Lib-AdvancedTween
	url = https://github.com/nofairTCM/Lib-AdvancedTween
[submodule "Lib-MaterialUI"]
	path = libs/Lib-MaterialUI
	url = https://github.com/nofairTCM/Lib-MaterialUI
